{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/formations.css') ~ "?v=" ~ random() }}">
{% endblock %}

{% block body %}
    <div class="conteneur">
        {% set col = 0 %}
        {% for cours in list_cours %}
            <a class="carte-formation" href="{{ path('app_cours', {'titre': cours.titre, 'id': cours.id, 'col': col}) }}">
                <div class="carte-image" style="background-color: var(--color-{{ col }});">
                    {% if cours.image is defined %}
                    <img src="{{ asset('images/cours/' ~ cours.image) }}" alt/>
                    {% endif %}
                </div>
                <div class="carte-details">
                    <p style="color: var(--primary);">Cours</p>
                    <p class="carte-titre">{{ cours.titre }}</p>
                    <br>
                    <p>
                        <span class="carte-niveau"><i class="fas fa-signal"></i>&nbsp;&nbsp;{{ cours.niveau }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="carte-temps"><i class="far fa-clock"></i>&nbsp;&nbsp;{{ cours.tempsestime }}h</span>
                    </p>
                    <br>
                    <p>{{ cours.synopsis }}</p>
                </div>
            </a>
            {% set col = col + 1 %}
        {% endfor %}
    </div>
{% endblock %}
